
.blogs_header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    background-image: url("/images/Header-bg-Img.jpg");
}

    .blogs_header_title {
        
        font-weight: lighter;
        font-size: xx-large;
        margin-left: 18%;
    }

.blogsContentAndRecentPosts {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}

    .all_blogs_wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1%;
    }

        .blogs_post {
            width: 95%;
            display: flex;
            margin-right: 3%;
            max-height: 30%;
        }

            .blogs_img {
                width: 30%;
                height: 100%;
                border-radius: 20px;
            }

            .blogs_content_wrapper {
                display: flex;
                flex-direction: column;
                gap: 3%;
                padding: 1%;
            }

                .blogs_content_tittle {
                    font-size: x-large;
                    width: 80%;
                    opacity: 100%;
                    transition: opacity 0.3s ease-in-out;
                    font-weight: lighter;
                    color: rgb(53, 107, 151);
                }

                    .blogs_content_tittle:hover{
                        opacity: 70%;
                        transition: 0.3s ease-in-out;
                    }

                .blogs_content_publised_date {
                    font-size: smaller;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    opacity: 70%;
                }

                .blogs_contetnt_preview {
                    font-weight: lighter;
                    line-height: 120%;
                }

    .blogs_recent_posts {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 15%;
        
    }

        .blogs_recent_posts_tittle_div{
            display: flex;
            justify-content: center;
            height: 5%;
            width: 100%;
            align-items: center;
            align-content: center;
            background-color: var(--color-bg-top);;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

            .blogs_recent_posts_tittle {
                color: white;
                text-align: center;
                align-self: center;
                font-size: large;
                font-weight: lighter;
            }

            .blogs_recent_posts_content_wrapper{
                border: solid rgba(0,0,0,0.1);
                width: 100%;
                height: fit-content;
                padding: 5%;
                display: flex;
                flex-direction: column;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }

                .blogs_recent_posts_content_dad {
                    width: 100%;
                    margin: 5%;   
                }

                    .blogs_recent_posts_content {
                        color: rgb(53, 107, 151);
                        width: 100%;
                        transition: 0.3s ease-in-out;
                    }

                        .blogs_recent_posts_content:hover {
                            opacity: 70%;
                            transition: 0.3s ease-in-out;
                        }

    

@media (max-width: 1024px) {
    
    .all_blogs_wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 1%;
    }

        .blogs_img {
            width: 30%;
            height: 100%;
            border-radius: 20px;
        }

        .blogs_content_tittle {
            font-size: large;
            width: 80%;
            opacity: 100%;
            transition: opacity 0.3s ease-in-out;
            font-weight: lighter;
            color: rgb(53, 107, 151);
        }

        .blogs_contetnt_preview {
            font-weight: lighter;
            line-height: 120%;
            font-size: small;
        }

    .blogs_recent_posts {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 20%;
    }

        .blogs_recent_posts_content {
            color: rgb(53, 107, 151);
            width: 100%;
            transition: 0.3s ease-in-out;
            font-size: small;
        }
}

@media (max-width: 781px) {
    .all_blogs_wrapper {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1%;
    }

        .blogs_img {
            width: 30%;
            height: 100%;
            border-radius: 20px;
        }

        .blogs_content_tittle {
            font-size: large;
            width: 80%;
            opacity: 100%;
            transition: opacity 0.3s ease-in-out;
            font-weight: lighter;
            color: rgb(53, 107, 151);
        }

        .blogs_contetnt_preview {
            font-weight: lighter;
            line-height: 120%;
            font-size: small;
        }

    .blogs_recent_posts {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 20%;
    }

        .blogs_recent_posts_content {
            color: rgb(53, 107, 151);
            width: 100%;
            transition: 0.3s ease-in-out;
            font-size: smaller;
        }

        .blogs_recent_posts_tittle {
            color: white;
            text-align: center;
            align-self: center;
            font-size: medium;
            font-weight: lighter;
        }
}

@media (max-width: 599px) {
    .all_blogs_wrapper {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1%;
        height: fit-content;
        
    }

        .blogs_post {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 3%;
            max-height: 30%;
            justify-content: center;
            align-items: center;
        }

            .blogs_img {
                width: 80%;
                height: 50%;
                border-radius: 20px;
                align-self: center;
            }

            .blogs_content_wrapper {
                display: flex;
                flex-direction: column;
                gap: 3%;
                padding: 1%;
                text-align: center;
                width: 80%;
            }

            .blogs_content_tittle {
                font-size: large;
                width: 100%;
                opacity: 100%;
                transition: opacity 0.3s ease-in-out;
                font-weight: lighter;
                color: rgb(53, 107, 151);
            }

            .blogs_contetnt_preview {
                font-weight: lighter;
                line-height: 120%;
                font-size: small;
            }

    .blogs_recent_posts {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 60%;
        position: relative;
        margin-top: 5%;
    }

        .blogs_recent_posts_tittle_div{
            display: flex;
            justify-content: center;
            height: 20%;
            width: 100%;
            align-items: center;
            align-content: center;
            background-color: var(--img3-button-background);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .blogs_recent_posts_tittle {
            color: white;
            text-align: center;
            align-self: center;
            font-size: larger;
            font-weight: lighter;
        } 

        .blogs_recent_posts_content_dad {
            width: 100%;
            margin: 2%;   
        }

        .blogs_recent_posts_content {
            color: rgb(53, 107, 151);
            width: 100%;
            transition: 0.3s ease-in-out;
            font-size: medium;
        }

        
}
